* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  height: 50vh;
}

section > aside {
  flex-basis: 400px;
}

section > div {
  flex-grow: 1;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #222222;
  cursor: grab;
}

#break {
  height: 1000px;
}
