* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

main > section {
  min-height: 300px;
  flex-basis: 50%;
  flex-grow: 0;
  max-height: 50%;
  position: relative;
}

main > section > h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  margin: 0 20px 20px 0;
  color: white;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #222222;
  cursor: grab;
}

body > aside {
  overflow-y: auto;
  padding: 25px;
  flex-basis: 400px;
}

body > aside > section {
  max-height: 40%;
  overflow-y: auto;
}

.point-input {
  display: grid;
  grid-template-columns: 30px auto 30px auto auto;
  padding: 5px 10px;
}

.point-input > * {
  padding: 0 10px;
}

.point-input > input {
  width: 100%;
}

.point-input > p {
  padding: 10px;
  margin: 0;
}

.controls {
  display: grid;
  grid-template-columns: 50% 50%;
}

.controls > button {
  font-family: 'Poppins', sans-serif;
  padding: 5px 0px;
  margin: 0px 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
td {
  border: 1px solid #222222;
}

thead {
  background-color: #222222;
  color: #fff;
}

th {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 6px 0;
}

td {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 6px 6px;
}

h1 {
  color: #111;
  font-family: 'Poppins', sans-serif;
  font-size: 3.1rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 3.2rem;
}

h2 {
  color: #111;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 25px;
  margin: 6px 0 10px;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9rem;
  line-height: 1rem;
  margin: 0 0 10px;
  text-align: justify;
  text-justify: inter-word;
}
