* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  height: 50vh;
}

section > aside {
  flex-basis: 400px;
  overflow-y: auto;
}

section > div {
  flex-grow: 1;
}

canvas {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #222222;
  cursor: grab;
}

.point-input {
  display: grid;
  grid-template-columns: 30px auto 30px auto auto;
  padding: 5px 10px;
}

.point-input > * {
  padding: 0 10px;
}

.point-input > input {
  width: 100%;
}

.graph-controls {
  display: flex;
}

.graph-controls > * {
  flex-grow: 1;
}
